@charset "UTF-8";


:root{

    --font-cormorant: 'cormorant garamond', serif;

    --color1: #81A4A6;
    --color2: #414444;
    --color3: #F8F4E9;
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



    body {
        font-family: var(--font-cormorant);
        background-color: var(--color3);
        margin-left: 12px;
        margin-right: 12px;
        

    }

    h1, h2, p, hr{
        color: var(--color2);
    }
    p {
        font-size: 0.88em;
    }
    /*------HEADER------*/

    header > div{
        display: flex;
        text-align: center;
        margin: 12px 12px 24px 12px;
        border-bottom: 4px solid var(--color2);
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    header > div > .img1, header > div > .img2 {
        display: none;
    }

    nav {
        background-color: var(--color2);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.11);
    }
    
    nav > #menu2 {
        display: none;
    }

    nav > ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav > ul > li{
        height: 50px;
    }

    nav > ul > li > a {
        height: 100%;
        padding: 0 24px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--color2);
    }

    nav > ul > li > a:hover{
        background-color: var(--color1);
    }

    nav > ul > li:first-child{
        margin-right: auto;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 180px;
        z-index: 999;
        background-color: #f8f4e977;
        backdrop-filter: blur(10px);
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .sidebar li{
        width: 100%;
    }

    .sidebar > li > a{
        width: 100%;
    }

    .menu-button {
        display: none;
    }

    @media screen and (max-width: 768px) {
        .hideOnMobile{
            display: none;
        }
        .menu-button {
            display: block;
        }
    }
    
    /*----------------1ª section------------------*/
    .grid-wrapper1{
        display: grid;
        grid-template-rows: 280px 50px 146px 2px;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }

    .grid-wrapper1 img {
        grid-row: 1/2;
        grid-column: 1/4;

        width: 100%;
        height: auto;

    }
    .grid-wrapper1 > .name:nth-of-type(1) {
        grid-row: 1/2;
        grid-column: 4/5;

        writing-mode: vertical-lr;
        text-orientation: upright;
    }
    .cor-especial{
        color: var(--color1);
    }
    .grid-wrapper1 > h2 {
        grid-row: 2/3;
        grid-column: 1/5;

        padding-top: 16px;
    }
    .grid-wrapper1 > .p1 {
        grid-row: 3/4;
        grid-column: 1/3;
    }
    .grid-wrapper1 > .p2 {
        grid-row: 3/4;
        grid-column: 3/5;
    }
    .grid-wrapper1 > hr {
        grid-row: 4/5;
        grid-column: 1/5;

        border: 2px solid var(--color2);
    }

    .text-mq {
        display: none;
    }

/*------2ª section------*/

    .grid-wrapper2{
        display: grid;
        grid-template-rows: auto repeat(2, 1fr) 2px;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }
    .grid-wrapper2 > h2{
        grid-row: 1/2;
        grid-column: 1/5;

        margin-top: 16px;
    }
    .grid-wrapper2 > .ling{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .grid-wrapper2 > .design{
        grid-row: 2/3;
        grid-column: 3/5;
    }
    .grid-wrapper2 > .fotos{
        grid-row: 3/4;
        grid-column: 1/3;
    }
    .grid-wrapper2 > .reda{
        grid-row: 3/4;
        grid-column: 3/5;
    }
    .grid-wrapper2 > hr{
        grid-row: 4/5;
        grid-column: 1/5;

        border: 2px solid var(--color2);
    }

    .grid-wrapper2 > ul {
        list-style-type: none;
        color: var(--color2);
        font-size: 1em;
        border: 2px solid var(--color2);        
        padding: 8px;
    }

/*------3ª section------*/

    .grid-wrapper3{
        display: grid;
        grid-template-rows: auto auto 2px;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }
    .grid-wrapper3 > h2{
        grid-row: 1/2;
        grid-column: 1/5;

        margin-top: 16px;

    }
    .grid-wrapper3 > ul{
        grid-row: 2/3;
        grid-column: 1/5;

        list-style-type: none;
        color: var(--color2);
        font-size: 1em;
        border: 2px solid var(--color1);
        box-shadow: 1px 1px 5px 0px #0000005d;
        padding: 8px;
    }
    .grid-wrapper3 > hr{
        grid-row: 4/5;
        grid-column: 1/5;

        border: 2px solid var(--color2);
        box-shadow: 1px 1px 5px 0px #0000005d;
    }
/*------4ª section------*/

    .grid-wrapper4 > h2 {
        margin: 16px 0 24px;
    }

    .grid-wrapper4 > .container {
        margin-bottom: 24px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .slider-wrapper {
        overflow: hidden;
        max-width: 1200px;
        margin: 0 auto 55px; /* centraliza no meio */
        padding: 0 40px;
    }

    .card-list {
        display: flex;
        gap: 15px; /* espaçamento entre os cards */
        justify-content: center;
}

    .card-list > .card-item {
        color: var(--color1);
        background: var(--color3);
        user-select: none;
        padding: 25px ;
        border-radius: 10px;
        backdrop-filter: blur(20px);
        border: 3px solid var(--color2);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 200px;          /* largura fixa */
        max-width: 90%;        /* responsivo */
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    
    .card-list > .card-item > .user-image {
        width: 180px;
        height: 140px;
        margin-bottom: 25px;
        border: 2px solid var(--color1);
        padding: 4px;
        border-radius: 6px;
        object-fit: cover;
    }

    .card-list > .card-item > .user-profession {
        font-size: 1.15em;
        color: var(--color2);
        font-weight: 500;
        margin: 10px 0 25px;
        text-align: justify;
    }

    .card-list > .card-item > button {
        font-size: 1em;
        padding: 10px 30px;
        color: var(--color2);
        border-radius: 6px;
        font-weight: 500;
        cursor: pointer;
        background: var(--color3);
        border: 1px solid var(--color2);
        transition: 0.2s ease;
    }

    .card-list > .card-item > button:hover {
        background: var(--color2);
        border: 1px solid var(--color3);
        color: var(--color3);
    }

    .swiper-pagination-bullet {
        background: var(--color1);
        opacity: 0.5;
        transition: 0.3s ease;
}

    .swiper-pagination-bullet-active {
        background: var(--color2);
        opacity: 1;
        height: 14px;
        width: 14px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
}

    .grid-wrapper4 > hr {
        border: 2px solid var(--color2);
        box-shadow: 1px 1px 5px 0px #0000005d;
    }

/*------FOOTER------*/

    .grid-wrapper5{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }
    .grid-wrapper5 > h2{
        grid-row: 1/2;
        grid-column: 1/5;

        margin-top: 16px;
    }
    .grid-wrapper5 > ul{
        grid-row: 2/3;
        grid-column: 1/5;

        list-style-type: none;
        font-size: 1.1em;
        background-color: var(--color2);
        box-shadow: 1px 1px 5px 0px #0000005d;
        padding: 8px;
        margin-bottom: 24px;
    }
    .grid-wrapper5 > ul > li {
        margin-bottom: 8px;
        padding: 6px;
    }

    .grid-wrapper5 > ul > li > a {
        color: var(--color3);
        text-decoration: none;
    }

    .grid-wrapper5 > ul > li > a:hover {
        border: 2px solid var(--color3);
        border-radius: 4px;
        padding: 4px 6px;
        
    }



@media screen and (min-width: 481px)  {

    body {
        font-family: var(--font-cormorant);
        background-color: var(--color3);
    }

    nav > #menu2 {
        display: none;
    }

/*------1ª section------*/
    .grid-wrapper1{
        display: grid;
        grid-template-rows: auto auto auto auto 2px;
        grid-template-columns: repeat(8, 1fr);
        gap: 16px; 
        padding: 0 12px;
    }

    .grid-wrapper1 > img{
        grid-row: 1/5;
        grid-column: 5/9;

        width: 100%;
        height: auto;
        display: block;
    }
    .grid-wrapper1 > .name:nth-of-type(1){
        grid-row: 1/2;
        grid-column: 1/5;
        writing-mode: horizontal-tb;
        text-orientation: mixed;
    }
    .grid-wrapper1 > h2{
        grid-row: 2/3;
        grid-column: 1/5;

        font-size: 1.6em;
    }
    .grid-wrapper1 > .text-mq1, .grid-wrapper1 >  .text-mq2 {
        display: block;

        font-size: 1em;
    }

    .grid-wrapper1 > .text-mq1 {
        grid-row: 3/4;
        grid-column: 1/5;
    }

    .grid-wrapper1 > .text-mq2 {
        grid-row: 4/5;
        grid-column: 1/5;
    }

    .grid-wrapper1 > .p1, .grid-wrapper1 > .p2 {
        display: none;
    }
    
    .grid-wrapper1 > hr{
        grid-row: 5/6;
        grid-column: 1/9;

        border: 2px solid var(--color2);
        margin-top: 24px;
    }

/*------2ª section------*/

.grid-wrapper2 {
    display: block;
    padding: 0 12px;
}
.grid-wrapper2 > h2 {
    margin-top: 34px;
}
.grid-wrapper2 > ul {
    border: none;
    
}
.grid-wrapper2 > ul > li {
    font-size: 1em;
    position: relative;
    padding-left: 30px; 
    margin-bottom: 10px;
}
.grid-wrapper2 > ul > li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 20px;
    height: 20px;
    background-image: url('icone.png');
    background-size: contain;
    background-repeat: no-repeat;
}
}

@media screen and (min-width: 769px) {


    body{
        margin-left: 24px;
        margin-right: 24px;
    }

    header > div {
        display: none;
    }
    header > div > .img1, header > div > .img2 {
        display: block;
    }
    nav > #menu2{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;

        background-color: var(--color3);
        z-index: 999;
    }

    nav > #menu2 > div > h1 > a {
        font-size: 0.8em;
        margin-left: 12px;
        color: var(--color2);
        text-decoration: none;
    }

    nav > #menu2 > li:first-child{
        display: none;
        width: 100%;
    }

    header > nav > #menu2 > li{
        background-color: var(--color3);
        color:var(--color2)
        
    }

    nav > ul > li > a{
        font-size: 1.3em;
    }

    nav > ul > li > a:hover{
        background-color: var(--color1);
        color: var(--color3)
    }

    .grid-wrapper1{
        display: grid;
        grid-template-rows: auto auto auto 2px;
        grid-template-columns: repeat(12, 1fr);
        gap: 16px; 
        padding: 62px 0px 0px 0px;
    }

    .grid-wrapper1 > .name:nth-of-type(1) {
        grid-row: 1/4;
        grid-column: 11/12 ;

        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    .grid-wrapper1 > img{
        grid-row: 1/4;
        grid-column: 7/11;

        width: 100%;
        height: auto;
        display: block;
    }

    .grid-wrapper1 > h2{
        grid-row: 1/2;
        grid-column: 1/3;

        font-size: 1.8em;
    }
    .grid-wrapper1 > .text-mq1, .grid-wrapper1 >  .text-mq2 {
        display: block;

        font-size: 1.1em;
    }

    .grid-wrapper1 > .text-mq1 {
        grid-row: 2/3;
        grid-column: 1/7;
    }

    .grid-wrapper1 > .text-mq2 {
        grid-row: 3/4;
        grid-column: 1/7;
    }

    .grid-wrapper1 > .p1, .grid-wrapper1 > .p2 {
        display: none;
    }
    
    .grid-wrapper1 > hr{
        grid-row: 5/6;
        grid-column: 1/13;

        border: 2px solid var(--color2);
        margin-top: 8px;
    }


}
