@charset "UTF-8";

@font-face {
    font-family: 'thinoo-thin';
    src: url('thinoo-thin.otf') format(sans-serif);
}


:root{

    --font-thinoo: 'thinoo-thin', sans-serif;
    --fonte-garamond: "Garamond", serif;


    --color1: #f9ead7;
    --color2: #a6baac;
    --color3: #967462;
    --color4: #5d3e3f;

}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

